.chat_container {
  flex: 0.65;
}
.chat_header {
  display: flex;
  flex: 0.5;
  align-items: center;
  padding: 20px;
  height: 42px;
  border-bottom: 1px solid lightgray;
}
.header_info {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 20px;
}
.header_info > h3,
p {
  margin: 0px;
}
