.login_extdiv {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dadbd3;
}
.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -1px 3px 10px -5px rgba(0, 0, 0, 0.5);
  height: 60%;
  width: 40%;
  background-color: white;
}

.login_container > img {
  object-fit: contain;
  width: 10%;
  margin-bottom: 20px;
}
.login_container > button {
  background-color: #0a8d48;
  margin-top: 50px;
  color: white;
}
.login_container > button:hover {
  background-color: #0a8d48;
}
